label#star:before {
    content: '\2606';
    color: white;
    font-size: 2em;
}

label#star.on:before {
    content: '\2605';
    color: white;
}

input:checked + label#star:before {
    content: '\2605';
    color: white;
}

label#star {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 20px;
}

    label#star
    :before {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        border-radius: 10px;
    }

input {
    position: absolute;
    top: -20px;
}

:root {
    font-size: 2em;
    font-family: Helvetica, arial, sans-serif;
}

body {
    background: #333;
    color: #888;
}

fieldset {
    border: 0;
    background: #222;
    border-radius: 1px;
    margin: 1em auto;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

#log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
}

h1 {
    text-align: center;
}

#QuestionMargin {
    text-align: center;
}
