label#star {
    color: white;
    cursor: pointer;
    margin: 1%;
    font-size: 4em;
}

.star-group{
    display: flex;
    justify-content: center;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.emailInput {
    align-self: center;
    text-align: center;
    display: flex;
    font-size: 2em;
}

.AnswerString {
    margin-top: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AnswerString input{
    align-self: center;
    text-align: center;
    display: flex;
    font-size: 2em;
}

.question{
    display: flex;
    margin-top: 20em;
}

.question label{
    flex: 1;
    justify-content: center;
    font-size: 2em;
    margin: 10px;
    text-align: center;
}

body {
    background: #111;
    color: #888;
}

#end_container {
    display: grid;
    align-content: center;
}

#end_img {
    width: 100px;
    height: 100px;
    margin: auto;
}

svg {
    width: 100px;
    border-radius: 100px;
}

#trendUp svg {
    transform - origin: left center;
    transform: rotate(-45deg);
}

#trendDown svg {
    transform - origin: left center;
    transform: rotate(45deg);
}