html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#imgSmall {
    width: 50px;
    height: 50px;
    margin-left: 300px;
    margin-right: auto;
}

#imgLarge {
    width: 150px;
    height: 150px;
}