* {
    
}

/* Slideshow container */
.slideshow-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.mySlides {
    display: none;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

.btnDiv{
    display: flex;
    justify-content: center;
    flex: 1, 1, auto;
}

.dotsDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.dot{
    display: flex;
    background-color: gray;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    margin: 2px;
    cursor: pointer;
}

label {
    display: flex;
    color: white;
    justify-content: center;
}

#button2 {
    display: flex;
    flex: 1;
    margin: 10px;
    margin-top: auto;
    max-width: 12em;
    justify-content: center;
    align-self: center;
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
}

input[type=text] {
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    max-width: 50%;
}

form {
    display: flex;
}