* {
    
}

.emailInput{
    font-size: 2em;
}

/* Slideshow container */
.slideshow-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.questionnaireBody{
    display: flex;
}

.mySlides {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    display: none;
    justify-content: space-evenly;
    flex: 1;
    flex-direction: column;
}

.dotsDiv {
    position: absolute;
    bottom: 0;
    left: 10%;
    margin: 10px;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.dot{
    display: flex;
    background-color: gray;
    min-height: 10px;
    min-width: 10px;
    border-radius: 100px;
    margin: 2px;
}

label {
    display: flex;
    color: white;
    justify-content: center;
}

.navDiv{
    display: flex;
}

.btnDiv{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.disabled1 {
    pointer-events: none;
}

#button2 {
    display: flex;
    padding: 10px;
    padding-inline: 30px;
    color: #777;
    background-color: #ffdb70 /*#ffc107*/;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
}

#button4 {
    display: flex;
    padding: 10px;
    padding-inline: 30px;
    color: #000;
    background-color: #ffc107;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
}

#button3 {
    display: flex;
    padding: 10px;
    padding-inline: 30px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
}

input[type=text] {
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    max-width: 50%;
}

form {
    display: flex;
}