* {
    
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.mySlides {
    display: none;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#button2 {
    display: flex;
    align-self: flex-end;
    margin-top: 135%;
}

body {
    height: inherit;
    width: max-content;
    margin: 0;
}

form {
    height: inherit;
    width: max-content;
}

span {
    display: flex;
    flex-flow: row wrap;

}