<link rel="stylesheet" href="~/css/Rockstyle.css" asp-append-version="true" />

<body onload="GetEndGif()">
    <div id="end_container"> 
        <H1> You Rock! </H1>
        <img name="gif">
    </div>
</body>

<script src="~/js/site.js"></script>