@{
}
<link rel="stylesheet" href="~/css/Rockstyle.css" asp-append-version="true" />

<div id="end_container"> 
    <H1> You Rock! </H1>
    <img src="~/img/Star.png" class="rounded" id="end_img">
</div>
