@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div>
    <form asp-controller="Questionaire" asp-action="Question">
    <input type="text" class="form-control" placeholder="Email" name="email"/>
    <button type="submit" class="btn btn-warning"> Begin </button>
    </form>
</div>
