@model QuestionViewModel

<div>
    <form method="post" asp-controller="Questionaire" asp-action="Question">
        <label for="Email">Email</label>
        <input type="text" asp-for="Email" placeholder="fill in your email..."/>
        <button type="submit" class="btn btn-warning"> Begin </button>
    </form>
</div>