
<div>
    <form asp-controller="Questionaire" asp-action="Question">
    <input type="text" class="form-control" placeholder="Email" name="email"/>
    <button type="submit" class="btn btn-warning"> Begin </button>
    </form>
</div>
