@{
    Questions questions = new Questions();
    string email = ViewBag.email;
}

<div>
    <form asp-controller="Questionaire" asp-action="End">
    <a>Welcome @email</a>
    @{foreach (Question question in questions.list) {
        <div class="container">
            <label for="customRange2" class="form-label">@question.QuestionString</label>
        </div>
    }}
    <button type="submit" class="btn btn-warning"> Submit </button>
    </form>
</div>